<!-- expenses/templates/expense/expense_home.html -->

{% extends 'layouts/mybase.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- PLOT OF EXPENSES OVER TIME -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Expenses</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="expenseChart"></canvas>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var ctx = document.getElementById('expenseChart').getContext('2d');
                                var chartData = JSON.parse('{{ all_data|escapejs }}');

                            
                                var expenseChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: chartData.dates,
                                        datasets: [{
                                            label: 'All Expenses',
                                            data: chartData.amounts,
                                            backgroundColor: chartData.diluted_colors,
                                            borderColor: chartData.colors,
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        plugins: {
                                            legend: {
                                                display: false  // Disable legend
                                            }
                                        },
                                        scales: {
                                            x: {
                                                type: 'time',
                                                time: {
                                                    unit: 'day'
                                                },
                                                distribution: 'linear'
                                            },
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

            <!-- NEW PLOT OF EXPENSES BY CATEGORY -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Expenses by Category </h4>
                    </div>
                    <div class="card-body">
                        <canvas id="categoryExpenseChart"></canvas>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var ctx = document.getElementById('categoryExpenseChart').getContext('2d');
                                var chartData = JSON.parse('{{ categories_data|escapejs }}');
                                var categoryExpenseChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: chartData.categories,
                                        datasets: [{
                                            label: 'Total Amount',
                                            data: chartData.amounts,
                                            backgroundColor: 'rgba(31, 243, 182, 0.2)',
                                            borderColor: 'rgba(31, 243, 182, 1)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        },
                                        // Add annotations
                                        animation: {
                                            onComplete: function () {
                                                var chart = this.chart;
                                                var ctx = chart.ctx;
                                                ctx.font = 'bold 14px Arial'; // Set font family and size here
                                                ctx.fillStyle = "#636364";
                                                ctx.textAlign = 'center';
                                                ctx.textBaseline = 'bottom';

                                                this.data.datasets.forEach(function (dataset) {
                                                    for (var i = 0; i < dataset.data.length; i++) {
                                                        var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model;
                                                        var yPos = model.y - 5; // Adjust position here
                                                        ctx.fillText(dataset.data[i].toFixed(2), model.x, yPos); // Format to 2 decimal places
                                                    }
                                                });
                                            }
                                        }
                                    },
                                    
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- EXPENSES LIST -->
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card flex-grow-2">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Expense List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="max-height: 540px; overflow-y: auto;">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>Tag</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for expense in expenses %}
                                    <tr>
                                        <td>{{ expense.tag }}</td>
                                        <td>{{ expense.category }}</td>
                                        <td>{{ expense.amount|floatformat:2 }}</td>
                                        <td>{{ expense.date }}</td>
                                        <td>{{ expense.description }}</td>
                                        <td><a href="{% url 'expense_detail' expense.id %}">view details</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'expense_create' %}" class="btn btn-primary">Add Expense</a>
                    </div>
                </div>
            </div>

            <!-- Tag Expenses Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Expenses by Tag </h4>
                    </div>
                    <div class="card-body">
                        <canvas id="tagChart"></canvas>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var ctx = document.getElementById('tagChart').getContext('2d');
                                var tagData = JSON.parse('{{ tag_data|escapejs }}');
                                var tagChart = new Chart(ctx, {
                                    type: 'bar',  // You can change the chart type if needed
                                    data: {
                                        labels: tagData.tags,  // X-axis labels
                                        datasets: [{
                                            label: 'Total Amount',
                                            data: tagData.amounts,  // Y-axis data
                                            backgroundColor: tagData.diluted_colors,
                                            borderColor: tagData.colors,
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            x: {
                                                title: {
                                                    display: true,
                                                    text: 'Tags'
                                                }
                                            },
                                            y: {
                                                title: {
                                                    display: true,
                                                    text: 'Amount'
                                                },
                                                beginAtZero: true
                                            }
                                        },
                                        // Add annotations
                                        animation: {
                                            onComplete: function () {
                                                var chart = this.chart;
                                                var ctx = chart.ctx;
                                                ctx.font = 'bold 14px Arial'; // Set font family and size here
                                                ctx.fillStyle = tagData.colors;
                                                ctx.textAlign = 'center';
                                                ctx.textBaseline = 'bottom';

                                                this.data.datasets.forEach(function (dataset) {
                                                    for (var i = 0; i < dataset.data.length; i++) {
                                                        var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model;
                                                        var yPos = model.y - 5; // Adjust position here
                                                        ctx.fillText(dataset.data[i].toFixed(2), model.x, yPos); // Format to 2 decimal places
                                                    }
                                                });
                                            }
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var searchInput = document.getElementById('expenseSearch');
        var expenseTable = document.getElementById('expenseTable').getElementsByTagName('tbody')[0];
    
        searchInput.addEventListener('keyup', function () {
            var filter = searchInput.value.toLowerCase();
            var rows = expenseTable.getElementsByTagName('tr');
    
            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var match = false;
    
                for (var j = 0; j < cells.length; j++) {
                    if (cells[j].innerText.toLowerCase().indexOf(filter) > -1) {
                        match = true;
                        break;
                    }
                }
    
                rows[i].style.display = match ? '' : 'none';
            }
        });
    });
    </script>

{% endblock content %}
