<!-- expenses/templates/expense/expense_form.html -->

{% extends 'layouts/mybase.html' %}

{% block title %}{% if form.instance.pk %}Update Expense{% else %}Create Expense{% endif %}{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">{% if form.instance.pk %}Update Expense{% else %}Create Expense{% endif %}</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="id_description">Description:</label>
                                <select name="description" id="id_description" class="form-control">
                                    <option value="">---------</option>
                                    {% for choice in UTILITY_CHOICES %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Include other form fields here -->
                            {{ form.as_p }}
                            
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Set the date field to the current date and time
    var dateField = document.getElementById("id_date");
        if (dateField) {
            var now = new Date();
            var formattedDate = now.toISOString().slice(0, 16);
            dateField.value = formattedDate;
        }
    // Add event listener to the description dropdown
    document.getElementById("id_description").addEventListener("change", function() {

        
    });
</script>

{% endblock %}
