<!-- templates/layouts/mybase.html -->

<!DOCTYPE html>
{% load i18n static admin_black %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_direction as direction %}
{% get_admin_setting as admin_setting %}
<html lang="en">

<head>
    {% include 'includes/head.html' %}
    {% block extrahead %}{% endblock extrahead %}
    {% block extrastyle %}{% endblock extrastyle %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>


    <script src="{% static 'pools/js/pool_home.js' %}"></script>
</head>

<body class="{% block bodyclass %}{% endblock bodyclass %}">
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static 'assets/img/sidebar-1.jpg' %}">
            <div class="logo">
                <a href="{% url 'home_home' %}" class="simple-text logo-normal">  <!-- Update this line -->
                    tilen's finances
                </a>
            </div>
            <div class="sidebar-wrapper">
                <!-- INCOME BUTTON -->
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pool_home' %}">
                            <i class="material-icons">token</i>
                            <p>Pools</p>
                        </a>
                        </a>
                    </li>
                    <!-- EXPENSE BUTTON -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'expense_home' %}">
                            <i class="material-icons">money_off</i>
                            <p>Expenses</p>
                        </a>
                    </li>
                    <!-- POOL BUTTON -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'income_home' %}">
                            <i class="material-icons">receipt</i>
                            <p>Income</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            {% block navigation %}
            {% include 'includes/navigation.html' %}
            {% endblock navigation %}
            {% block content %}{% endblock content %}
            {% block footer %}
            {% include 'includes/footer.html' %}
            {% endblock footer %}
        </div>
    </div>
    {% block fixed-plugin %}
    {% include 'includes/fixed-plugin.html' %}
    {% endblock fixed-plugin %}
    {% include 'includes/scripts.html' %}
    {% block extrajs %}{% endblock extrajs %}
</body>

</html>
